

#todoadd {
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
}

.add-header {
  margin-bottom: 40px;
}

.add-title {
  font-size: 2rem;
  margin: unset;
}

.todo-add-buttons {
  width: 80px;
  height: 35px;
  position: absolute;
  top: -40px;
  right: 0;

  display: flex;
  gap: 10px;
}

.todo-add-buttons .button_ok::before {
  background-image: url('/src/assets/icon-plus.svg');
}